@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slide-in {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.icon {
  width: 24px; // Adjust width as necessary
  height: 24px; // Adjust height to maintain aspect ratio
  margin-right: 8px; // Space between icon and text
}
